openapi: 3.0.1
info:
  title: Scheduler API
  version: 1.0.0
servers:
  - url: http://localhost:8090
paths:
  /api/users/{user_id}:
    get:
      summary: Get user information
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found

  /api/login:
    post:
      summary: login user with a code
      responses:
        '200':
          description: Successful auth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '401':
          description: Auth failed

  /api/teams/{user_id}:
    get:
      summary: Get user teams
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '404':
          description: User's teams not found

  /api/teams/{hack_id}:
    get:
      summary: Get user teams
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '404':
          description: Hack's teams not found

  /api/teams/:
    post:
      summary: Create team teams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamCreate'

      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '400':
          description: Invalid input

  /api/hacks/{hack_id}:
    get:
      summary: Get hackathon info
      responses:
        '200':
          description: Successful response
          content:
            application/json:
                $ref: '#/components/schemas/Hackathon'
        '404':
          description: Hack's teams not found


components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        bio:
          type: string
        skills:
          type: array
          items: '#/components/schemas/Skill'

    Team:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        members:
          type: array
          items: '#/components/schemas/User'
        max_size:
          type: integer

    TeamCreate:
      type: object
      properties:
        name:
          type: string
        captain_id:
          type: integer
        hack_id:
          type: integer
        


    Hackathon:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        members:
          type: array
          items: '#/components/schemas/User'
        max_size:
          type: integer

    Skill:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string

    Token:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string