.container {
  font-size: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.item {
  border: 1px solid rgba(172, 235, 76, 1);
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 24px;
}
.note {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
ol {
  padding: 16px;
}
