.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 16px 0;
  position: sticky;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}
.item {
  width: 40px;
  height: 40px;
  background: rgba(177, 177, 177, 1);
  border-radius: 30px;
}
.icon {
  padding: 11px;
}
