.menu {
  width: 100%;
  max-width: 375px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 16px 0 20px 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(15px);
  z-index: 100;
}

.item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: all 0.2s;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.04);
  transition: all 0.2s;
}

.linkActive {
  background: rgba(172, 235, 76, 1);
  color: rgba(17, 18, 4, 1);
}

.icon {
  width: 20px;
  height: 20px;
  padding: 0;
  color: rgba(17, 18, 4, 1);
}
