.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.info {
  display: flex;
  gap: 20px;
}
h2 {
  font-size: 16px;
  font-weight: 600;
}
h3 {
  font-size: 14px;
  font-weight: 600;
  color: rgba(106, 106, 106, 1);
}
.phone {
  padding: 10px 12px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 24px;
}
.addBox {
  padding: 10px 12px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 24px;
  min-height: 176px;
  width: 100%;
}
