.container {
  padding: 27px 23px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 20px;
  font-weight: 600;
}
.icons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
