.container {
  position: relative;
  min-height: 100vh;
  background: #111204;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 375px;
  position: relative;
  z-index: 1;
}
