.container {
  background-color: black;
  color: azure;
}
.options {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.item {
  width: 78px;
  height: 36px;
  border-radius: 24px;
  padding: 10px 0;
  text-align: center;
  backdrop-filter: blur(15px);
}
.hacks {
  margin-top: 30px;
}
h2 {
  font-size: 16px;
  font-weight: 600;
}
