.options {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.item {
  width: 78px;
  height: 36px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 24px;
  padding: 10px 0;
  text-align: center;
}
.hacks {
  margin-top: 30px;
}
h2 {
  font-size: 16px;
  font-weight: 600;
}
